<section class="hero-box">

    <img src="<%= hero.image %>" alt="<%= hero.title %>" class="hero-image">

    <div class="hero-text">

        <h1>
            <%= hero.title %>
        </h1>

        <p>
            <%= hero.text %>
        </p>

    </div>

</section>